.center-box {
    z-index: 999999999;
    margin: 15px 0px 0px;
    box-sizing: border-box;
    width: 95%;


}

.marcas {
    background-color: rgba(255, 255, 255, 0.6);
    width: 95%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 30px;
    box-shadow: 0px 31px 40px 0px rgba(144, 144, 144, 0.3);
    z-index: 99999;

}

.marca {
    height: 56px;
    opacity: 0.735;
}

.boxItem {
    border-radius: 10px;
    box-shadow: 0px 20px 69px 0px rgb(8 37 92 / 7%);
    box-sizing: border-box;
    padding: 75px 40px 20px;
    height: 350px;
    transition: all .2s ease-in-out;
    margin: 15px;

    text-align: left;


}

.boxItem:hover {
    box-shadow: 0px 5px 20px 0px rgb(8 37 92 / 12%);
}

.iconItema {
    color: var(--colortextorojo);
    font-size: 50px;
    margin: 80px 20px 10px;
    width: 100%;
}

.iconItemb {
    color: rgb(247, 208, 124);
    font-size: 50px;
    margin: 40px 20px 10px;
    width: 100%;

}

.iconItemc {
    color: var(--colorverde);
    font-size: 50px;
    margin: 40px 20px 10px;
    width: 100%;

}

input {
    border-color: white;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0px 10px 10px 0px rgb(8 37 92 / 7%);
    border: 0px;
    height: 50px;


}

table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

.table-red {
    background-color: var(--colortextorojo);
    color: white;
    height: 70px;
    font-size: 18px;
    font-weight: 200;

}

td {
    height: 40px;
}

#lineaFooter2 {
    margin-top: 0px;
    width: 100%;
    height: 2px;
    background-color: rgb(217, 217, 217);
}

.iconb {
    background-color: #242879;
    width: 30px;
    height: 30px;
    text-align: center;
    align-content: center;
    font-size: 15px;
    color: white;
    border-radius: 50px;
    padding-top: 5px;
    margin: 0px 15px;
    
}
.iconb:hover{
    box-shadow: 0px 5px 8px 0px rgb(17 19 70 / 26%);
}
/*INPUT FORMULADIO*/
.bigInput {
    background-color: #242879;
    font-weight: 600;
    color: white;
    border-radius: 50em;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 13px 31px;
    transition: all .3s ease-in-out;
  
  }
  
  .bigInput:hover {
    color: white;
    background-color: #242879;
    border-color: #242879;
    box-shadow: 0px 25px 30px 0px rgb(17 19 70 / 26%);
    transform: translateY(-5px);
    z-index: 99999;
    /*-webkit-transform: translateY(-5px);*/
  }
  
  .bigInput:focus {
    background-color: #242879;
    font-weight: 600;
    color: white;
    border-radius: 50em;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    box-shadow: white;
    outline: none!important;
    outline-width: 0 !important;
  
  }
